@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

* {
	box-sizing: border-box;
}

html {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Red Hat Display', sans-serif;
	font-weight: 500;
	color: hsl(224, 23%, 55%);

	background-repeat: repeat-x;
	background-image: url("./images/pattern-background-desktop.svg");
	background-color: hsl(225, 100%, 94%);
	background-size: 100% 45%;
}

.card {
	background-color: hsl(0, 0%, 100%);
	border-radius: 0.5rem;
	overflow: hidden;
	box-shadow: hsl(225, 100%, 85%) 0.25rem 0.25rem 1rem 0.1rem;

	max-width: 400px;
	width: 90%;
	margin-inline: auto;
	margin-block: 10%;
	text-align: center;
}

.card__img {
	max-width: 100%;
}

h1 {
	color: hsl(0, 0%, 0%);
	font-weight: 900;
}

span {
	color: hsl(0, 0%, 0%);
	font-weight: 700;
}

.card__content {
	margin: 0 1rem;
	width: 90%;
	line-height: 1.5rem;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.card__subscription {
	background-color: hsl(225, 100%, 98%);
	border-radius: 0.5rem;
	width: 90%;

	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
}

.card__price {
	display: flex;
	flex-direction: column;
}

.card__price p {
	margin: 0;
}

a {
	cursor: pointer;
	color: hsl(245, 75%, 52%);
	text-decoration: none;
}

a:hover {
	color: hsl(245, 75%, 70%);
}

button {
	border: none;
	border-radius: 0.5rem;
	font-weight: 700;

	padding: 1rem 3.5rem;
	cursor: pointer;
	width: 90%;
}

.pay {
	background-color: hsl(245, 75%, 52%);
	color: hsl(0, 0%, 100%);
	box-shadow: 0.25rem 0.25rem 1rem 0.1rem hsl(225, 100%, 90%);
	margin-top: 2rem;
}

.pay:hover {
	background-color: hsl(245, 75%, 70%);
}

.cancel {
	background-color: hsl(0, 0%, 100%);
	color: hsl(224, 23%, 55%);
	margin-block: 1.5rem 3rem;
}

.cancel:hover {
	color: hsl(224, 23%, 20%);
}

.attribution {
	padding: 1.5rem;
	font-size: 11px;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}
